<div class="modal__header">
    <div class="modal__title">{{address}}</div>
    <button class="modal__close" type="button">Закрыть</button>
</div>
<div class="modal__body">
    <ul class="modal__comments-list">
        {{#each comments}}
                {{#each list}}
                <li class="modal__comment">
                    <div class="modal__comment-info">
                        <div class="modal__comment-author">{{name}}</div>
                        <div class="modal__comment-address">{{address}}</div>
                        <div class="modal__comment-data">{{date}}</div>
                    </div>
                    <div class="modal__comment-text">
                        {{text}}
                    </div>
                </li>
            {{/each}}
        {{/each}}
    </ul>
    <div class="modal-review">
        <div class="modal-review__title">ВАШ ОТЗЫВ</div>
        <form action="#">
            <input type="text" class="modal-review__input" placeholder="Ваше имя" required>
            <input type="text" class="modal-review__input" placeholder="Укажите место">
            <textarea name="comment" id="" cols="30" rows="10" class="modal-review__input modal-review__input--textarea" placeholder="Поделитесь впечатлениями"></textarea>
            <button class="btn btn--save" type="submit">Добавить</button>
        </form>
    </div>
</div>